button{
    display: none
}
.noData {
    width: 100%;
    min-height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .snapImg {
    width: 100px;
    height: 125px;
    background: #f4f4f4;
  }
  .snapImg img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .itemBox {
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .aaa {
    display: inline-block;
    padding:0 5px;
    height: auto;
    vertical-align: top;
  }
  .itemBox_item {
    flex: 1;
    position: relative;
  }
  .itemBox_item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .cardBox {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
  }
  .box_list {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
  }
  .box_slide01 {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box_slide01 h1 {
    font-size: 16px;
    margin: 5px 0;
    color: rgb(9, 80, 247);
  }
  .box_slide01 h2 {
    font-size: 14px;
    margin: 5px 0;
  }
  .box_slide01 button {
    margin: 5px 0;
  }
  .box_slide02 {
    width: 170px;
    margin-bottom: 20px;
  }
  .box_video {
    width: 170px;
    height: 110px;
    background: #f4f4f4;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box_photos {
    width: 120px;
    height: 110px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .box_photos_noface {
    width: 170px;
    height: 110px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f4f4f4;
  }
  .box_videoset {
    width: 170px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box_videoset p {
    margin: 5px 0;
  }
  .box_photoset {
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box_photoset_noface {
    width: 170px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box_photoset p {
    margin: 5px 0;
  }
  .box_photoset_noface p {
    margin: 5px 0;
  }
  .box_slide03 {
    flex: 1;
    margin-left: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .itemList {
    display: inline-block;
    width: 170px;
    height: auto;
    vertical-align: top;
  }
  .loadingMore {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 20px 30px 20px;
    text-align: center;
  }

  .historyList {
    display: inline-block;
    width: 220px;
    height: auto;
    vertical-align: top;
  }
  .itemList02 {
    display: inline-block;
    width: 220px;
    height: auto;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 5px;
  }
  .itemList_video {
    width: 100%;
    height: 140px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .snapImg_case {
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .snapCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .snapImg {
    width: 60px;
    height: 75px;
    margin-top: 10px;
    background: #f4f4f4;
    display: inline-block;
    vertical-align: top;
    margin: 5px 1px;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .snapImg_btn {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }
  .lineCase {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .lineCase_name {
    margin: 5px 0;
  }
  .lineStyle {
    width: 100%;
    /* height: 2px; */
    border: 1px solid #e4e7ed;
    background: #e4e7ed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 3px 0;
  }
  .lineStyle span {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #e4e7ed;
    border-radius: 90px;
    border: 1px solid #e4e7ed;
  }
  .libeBtn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .delete_icon {
    display: block;
    font-size: 18px;
    cursor: pointer;
  }
  .isDataState {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .otherTakePhotos{
      display: none;
  }
  .caozuo{
      display: none;
  }
  .itemBox_btn {
    width: 25px;
    height: 45px;
    background: #f4f4f4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
  }
  .itemBox_btn i {
    font-size: 18px;
  }
  .itemDataBtn {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px 0;
  }
  .itemDataBtn button {
    margin: 5px 0;
  }
  .itemDataBtn_delete {
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .itemDataBtn_delete:hover {
    color: #f00;
  }
  .itemBox_case {
    flex: 1;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .ccc {
    display: none;
  }
  .aaa {
    display: flex;
    justify-content: center;
    width: 120px;
    flex-direction: column;
    position: relative;
  }
  .aaa ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .current {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .itemImg {
    width: 80px;
    height: 100px;
    background: #f4f4f4;
  }
  .itemImg img {
    width: 80px;
    height: 100px;
    display: block;
  }
  .itemInfo {
    margin-top: 10px;
    font-size: 14px;
  }
  .itemDate1,
  .itemDate2 {
    margin-top: 3px;
    font-size: 14px;
  }
  .itemDate1 p {
    margin: 0;
  }
  .itemDate3 {
    margin-bottom: 6px;
    font-size: 14px;
  }
  .itemName {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
  }
  .itemLine {
    width: 100%;
    /* height: 2px; */
    border: 1px solid #e4e7ed;
    background: #e4e7ed;
    position: absolute;
    top: 70px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .itemDot {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #e4e7ed;
    border-radius: 90px;
    left: calc(50% + 15px);
    border: 1px solid #e4e7ed;
  }
  .showHasData {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }
  li {list-style-type:none;}
  .zhfk_detail_header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    position: relative;
  }
  .zhfk_detail_header .top {
    margin-right: 20px;
  }
  .zhfk_search_case {
    width: 100%;
    height: auto;
    background: rgb(27, 58, 110);
    margin-top: 15px;
    box-sizing: border-box;
    padding: 10px 15px;
  }
  .zhfk_detail_table {
    width: 100%;
    height: auto;
    background: rgb(27, 58, 110);
    margin-top: 15px;
  }
  .zhfk_detail_tablePage {
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
  }
  /* */
  .body_detail_modal {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
  }
  .body_detailHistory_list {
    height: auto;
    flex: 1;
  }
  .body_HistoryTop_list {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #e4e7ed;
    padding-bottom: 5px;
  }
  .body_HistoryTop_list li,
  .body_HistoryBottom_list li {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .body_HistoryBottom_list {
    width: 100%;
    height: auto;
    position: relative;
  }
  .body_detailHistory_dot {
    width: 100%;
    height: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .body_detailHistory_dot span {
    display: flex;
    width: 12px;
    height: 12px;
    background: #e4e7ed;
    border-radius: 90px;
    position: absolute;
    top: -7px;
  }
  .body_HistoryBottom_listImg {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  .body_HistoryBottom_listImg img {
    width: 100px;
    height: 100px;
  }
  /* */
  .header_detail_modal {
    width: 100%;
    height: 40px;
    line-height: 60px;
    box-sizing: border-box;
    padding: 0 5px;
    display: flex;
    align-items: center;
    margin-top: 35px !important;
    margin-bottom: 30px;
  }
  .header_detail_modal h1 {
    height: auto;
    line-height: normal;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0;
    position: relative;
    padding-left: 9px;
    border-left: 4px solid #3a8ee6
  }
  .header_detail_modal span {
    color: #3872f6;
    font-weight: 700;
  }
  .header {
    width: 100%;
    height: 40px;
    line-height: 60px;
    box-sizing: border-box;
    padding: 0 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .header h1 {
    height: auto;
    line-height: normal;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0;
    position: relative;
    padding-left: 9px;
    border-left: 4px solid #3a8ee6
  }
  .qudao{
      display: block !important;
  }
  .noData {
    width: 100%;
    min-height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .snapImg {
    width: 100px;
    height: 125px;
    background: #f4f4f4;
  }
  .snapImg img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .itemBox {
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .aaa {
    display: inline-block;
    padding:0 5px;
    height: auto;
    vertical-align: top;
  }
  .join{
    width: 50%;
    float: left;
    margin-bottom: 84px;
  }
  .faceImg{
    width: 80px;
    height: 100px;
    background: #f4f4f4;
  }
  .elseImg{
    width: 180px;
    height: 100px;
    background: #f4f4f4;
  }
  .imgpro{
    width: 100%;
  }